* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --text-primary: #ff4500;
}

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    padding-top: .5em;
    font-size: 5em;
    background: linear-gradient(to right, #000 20%, #ff4500 30%, #1100ff 70%, #000 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 7s ease-in-out infinite alternate;
}

.imagewrapper {
    text-align: center;
}

.imagewrapper img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

p {
    text-align: center;
    font-size: 3em;
}

p a {
    text-decoration: none;
}


a:visited {
    color: var(--text-primary);
}

@keyframes textShine {
    to {
        background-position: 200%;
    }
}




